    
    <div class="form-page">
    <form (ngSubmit)="loginSubmit(loginForm)" #loginForm="ngForm" class="form-group">
        <div ngModelGroup="loginform" class="controls-group">
          <div class="form-item">
            <label>Login name</label>
            <div class="form-control">
              <input type="text"  name="loginname" ngModel />
            </div>
          </div>
          <div class="form-item">
            <label>Password</label>
            <div class="form-control">
                <input type="password"  name="password" ngModel />
            </div>
          </div>
          <div class="form-item">
            <label>Captcha</label>
            <div class="form-control suffix">
              <input placeholder="图形验证码" name="captcha" ngModel (input)="verifyCaptcha(loginForm.value.loginform.captcha)" />
              <img [src]="captchaUrl" (click)="processClick()" width="50px" height="30px" />
            </div>
          </div>
          <div class="form-buttons">
            <button type="submit" [disabled]="" class="my-btn-blue"> {{"USER.BUTTON.SUBMIT" | translate }} </button>
          </div>
        </div>
    </form>
    </div>