// 
  
   .custom-input {
    // padding: 1em;
    // border-radius: 8px;
    & .form-control {
      border-bottom: 1px solid #8a8a8c;
    }
    & input {
      border:none;
      height: 48px;
      font-size: 1.25rem;
      padding-left:40px;
      margin:0;
    }
    .input-left-icon {
      position: absolute;
      display: inline-block;
      left:0;
      top:50%;
      margin-top: -12px;
    }
   }
  .my-btn-blue {
    padding: 0;
    margin: 0;
    border: 0;
    color: white;
    background-color: transparent;
    padding: 0.5em 1em;
    min-width:5em;
    border-radius: 1.25em;
    font-size: 1rem;
    background-image: linear-gradient(#49a3fb, #367cd2);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    &:hover {
      background-image: linear-gradient(#367cd2, #49a3fb);
    }
  }