// 
  
   .custom-input {
    & .form-control {
      border-bottom: 1px solid #8a8a8c;
    }
    & input {
      border:none;
      height: 48px;
      font-size: 1.25rem;
      padding-left:40px;
      margin:0;
    }
    .input-left-icon {
      position: absolute;
      display: inline-block;
      left:0;
      top:50%;
      margin-top: -12px;
    }
   }
  .my-btn-blue {
    padding: 0;
    margin: 0;
    border: 0;
    color: white;
    background-color: transparent;
    padding: 0.5em 1em;
    min-width:5em;
    border-radius: 1.25em;
    font-size: 1rem;
    background-image: linear-gradient(#49a3fb, #367cd2);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    &:hover {
      background-image: linear-gradient(#367cd2, #49a3fb);
    }
  }

  /////////////////////////////、、、、、//////////////////dfdg
.content {
  padding: 2em;
  background: #dde1e7;
  border-radius: 10px;
  box-shadow: -3px -3px 7px #ffffff73,
               2px 2px 5px rgba(94,104,121,0.288);
}

.field {
  height: 3em;
  width: 100%;
  display: flex;
  margin: 2em 0;
  align-items: center;
  position: relative;
  & > img {
    width: 6em;
    height: 3em;
    display: inline-block;
    margin-left:1em;
  }
}

.field .input {
  height: 100%;
  width: 100%;
  padding-left: 3.5em;
  outline: none;
  border: none;
  font-size: 18px;
  background: #dde1e7;
  color: #595959;
  border-radius: 25px;
  box-shadow: inset 2px 2px 5px #BABECC,
              inset -5px -5px 10px #ffffff73;
}

.field .input:focus {
  box-shadow: inset 1px 1px 2px #BABECC,
              inset -1px -1px 2px #ffffff73;
}

.field .span {
  display: block;
  position: absolute;
  // border:1px solid red;
  text-align: right;
  top:50%;
  left:1em;
  margin-top: -1.45em;
  color: #595959;
  width: 2em;
  height: 2em;
  line-height: 55px;
  & > img {
    top: -1em;
    width:1.25em;
    height: 1.25em;
  }
}

.field .label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 45px;
  pointer-events: none;
  color: #666666;
}

.field .input:valid ~ label {
  opacity: 0;
}
// .button.disabled {
//   background-color: silver;
//   cursor: not-allowed;
// }
.button {
  width: 100%;
  height: 3em;
  font-size: 18px;
  line-height: 3em;
  font-weight: 600;
  margin-bottom: 1em;
  background: #dde1e7;
  border-radius: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #595959;
  box-shadow: 2px 2px 5px #BABECC,
             -5px -5px 10px #ffffff73;
}

.button:focus {
  color: #3498db;
  box-shadow: inset 2px 2px 5px #BABECC,
             inset -5px -5px 10px #ffffff73;
}

.sign-up {
  margin: 1em 0;
  color: #595959;
}

.sign-up a {
  // color: #3498db;
  color:steelblue;
  font-weight: normal;
  text-decoration: none;
  font-size: 0.825em;
}

.sign-up a:hover {
  text-decoration: underline;
}

.or {
  position: relative;
  // font-weight: bold;
  text-align: center;
  color: rgb(112, 112, 112);
  overflow: hidden;
}

.or::before , .or::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  transform: scaleY(0.5);
  top: 50%;
  margin: 0 6px;
  background-color: rgba(0, 0, 0, 0.479);
}

.or::before {
  right: 54%;
}

.or::after {
  left:54%;
}
//////////////////////////////////////////////
.google, .apple {
  padding: 0.5rem 2rem;
  margin: 2rem auto;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  width: 80%;
  border: none;
  box-shadow: inset 6px 6px 8px rgba(97, 97, 97, 0.075), 6px 6px 6px rgba(255, 255, 255, 0.781);
  outline: none;
  background-color: inherit;
  // color: rgb(161, 161, 161);
  box-shadow: -3px -3px 5px white, 3px 3px 5px rgba(209, 209, 209, 0.705);
  color: rgb(112, 112, 112);
  justify-content: center;
  cursor: pointer;
  & > span {
    // font-weight: bold;
  }
}
.google svg {
  width: 18px;
  height: auto;
}
.form .btn:hover {
  box-shadow: 6px 6px 0px #969696,
             -3px -3px 10px #ffffff;
  transform: translateX(-0.5em) translateY(-0.5em);
}

.form .btn:active {
  transition: .2s;
  transform: translateX(0em) translateY(0em);
  box-shadow: none;
}
////////////////////////////////////////////////////////////////////////////////
.checkbox {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: #666;
  line-height: 1.5;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
  user-select: none;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1em;
  width: 1em;
  border: 2px solid #777;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.checkbox:hover .checkmark {
  transform: translateX(-20px) translateY(-2px) rotate(10deg);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.checkbox input:checked ~ .checkmark {
  background-color: #666;
  border-color: #666;
}

.checkbox input:checked ~ .checkmark:before {
  content: '';
  position: absolute;
  top: 40%;
  left: 50%;
  width: 6px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: translate(-50%, -50%) rotate(45deg);
}

.text {
  margin-left: 2em;
  display: inline-block;
  transition: all 0.2s ease-in-out;
}
///////////////////////////////////////////////////////////////////



.generate-loader::after {
  content: '';
  transform: scale(0.5);
  display: inline-block;
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  margin: auto;
  width:10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0 -30px 0 0 #bbb, 15px -26px 0 0 #aaa, 26px -15px 0 0 #999, 30px 0 0 0 #888,
  26px 15px 0 0 #777, 15px 26px 0 0 #444, -26px 15px 0 0 #333, -30px 0 0 0 #222, -26px 15px 0 0 #333,
  -30px 0 0 0 #222, -26px -15px 0 0 #111, -15px -26px 0 0 #000;
  animation: loading 1s infinite steps(12, start);
}
@keyframes loading {
  0% {
    transform: rotate(0deg);

  }
  100% {
    transform: rotate(360deg);

  }
}

.invalid-message {
  position: absolute;
  top:3em;
  left:4em;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
  & > li {
    color:red;
    font-size: 0.825rem;
  }
}