
.page-header {
  display: flex;
  align-items: center;
  padding: 1em 0;
  color:#767676;
  & > h3 {
    flex: 1;
    margin-bottom: 0;
    font-weight: bold;
  }
  & > div {
    flex: 2;
    text-align: right;
    align-self: center;
  }
}
.equal-altitude {
  display: flex;
  & > .columns_1 {
    flex: 0 0 15em;
  }
  & > .columns_2 {
    flex: 1 1  auto;
  }
}
.aside-box {
  border:1px solid #666666;
  background-image: linear-gradient(#eaeaea,#f0f0f0);
  border-radius: 7px;
  & > dt {
    background-color: #242424;
    padding:0.5em 1em;
    color:whitesmoke
  }
  & > dd {
    padding: 0.5em;
    border-top: 1px solid #fafafa;
    border-bottom: 1px solid #d5d5d5;
    cursor: pointer;
  }
  & > dd:hover {
    border-bottom: 1px solid #fafafa;
    border-top: 1px solid #d5d5d5;
  }
}
.category-header {
  border-top:1px solid #8d7d95;
  border-bottom:1px solid #221e26;
  border-radius: 8px 8px 0 0;
  padding:1em 1em;
  color: #dbdbdb;
  font-size: 1.2rem;
}
.category-btn.active {
  background-color: #d0d0d0;
  color:#221e26;
}
////////////////////////////////////////////////

////////////////////////////
.card-box {
  border:1px solid #98a1aa;
  border-radius: 7px; 
  & > .card-header {
    border-top:1px solid #dcdcdc;
    border-bottom:1px solid gray;
    border-radius: 7px 7px 0 0 ; 
    background-image: linear-gradient(#d5d5d5,#b2b2b2);
    padding:1em;
    color:#5c5b5b
  }
  & > .card-body {
    background-image: linear-gradient(#f5f5f5,#e4e4e4);
    color:#5c5b5b;
    .cuto-ff-gray {
      padding:0.5em 1em;
      border-top:1px solid #fefefe;
      border-bottom:1px solid #d4d4d4;
    }
  }
  & > .card-footer {
    background-color: #e6e6e6;
    border-radius: 0 0 7px 7px;
  }
}
.pager-container {
  display: flex;
  padding:1em ;
  & > .left-side {
    flex: 1;
    & > select {
      padding: 5px;
    }
  }
  & > .right-side {
    flex: 2;
    text-align: right;
  }
  .pager-count button {
    margin-left: 1em;
    padding: 5px 10px;
  }
  .pager-count button.active {
    border:1px solid #8d2908;
    background-color: #d16413;
    border-radius: 3px;
    padding: 5px 10px;
    color:#fff;
  }
}
.button-gray {
  outline: none;
  cursor: pointer;
  padding:0.5em 1em;
  background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
  border-radius: 1.2em;
  border: 1px solid #8F9092;
  transition: all 0.2s ease;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em;
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px #fff;
}
.button-gray:hover {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
}

.button-gray:active {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

.button-gray:focus {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

////////////////////////////////////////////////----------------
section.card {
  position: relative;
  min-width: 10em;
  min-height: 10em;
  height: 20em;
  width:100%;
  margin: 0 0.5em 1em 0.5em;
  background-color: #fff;
  border-radius: 10px;
  // display: flex;
  // flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  & > .card-front {
    text-align: center;
    padding: 1em;
  }
}
.card svg {
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 3px;
}
.card:hover {
  // transform: scale(1.05);
  box-shadow: 0 8px 16px #999999;
  background-color: #474dc3;
  color: #ffffff;
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #474dc3;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  padding-left: 5px;
  font-size: 24px;
  color: var(--white);
  font-weight: 700;
}

.card:hover svg {
  scale: 0;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #ffffff;
  line-height: 1.4;
}
/* Commands to change the shadows in dark mode
@media (prefers-color-scheme: dark) {
  .card:hover {
  box-shadow: 0 8px 16px #000000;
  }
}*/
.subscribe-button {
  display: inline-block;
  padding: 0.2em 0.75em;
  background-color: #40B3A2;
  color: #fff;
  text-decoration: none;
  border: 1px solid gray;
  border-radius: 30px;
  // margin-top: 20px;
  transition: 0.2s ease;
}
.subscribe-button:hover {
  opacity: .85;
}
.price {
  color: #40B3A2;
  font-size: 1.25rem;
}
.title {
  color:#4C5656;
  font-size: 1.5em;
  font-weight: bold;
  
}