.nav-ul-0 {
    background-image: linear-gradient(#e4e3e8, #ededef);
    & > .nav-li-0 {
        border-top:1px solid #fafafa;
        border-bottom:1px solid #d4d4d4;
    }
    & > .nav-li-0:hover {
        border-bottom:1px solid #fafafa;
        border-top:1px solid #d4d4d4;
    }
    & > li.active {    
        border-top:1px solid #e08e40;
        border-bottom:1px solid #9a2f09;
        background-image: linear-gradient(#d16413,#8d2908);
        color: #fff;
      }
}
