<div class="c-container" [class.fixed-width]="fixWidth$ | async">
    <header class="c-header">
        <div class="c-header-body">
            <app-header></app-header>
        </div>
    </header>
    <nav class="c-nav">
        <div class="c-nav-body">
            <app-nav *ngIf="(navs$ | async)?.length" [navs]="(navs$ | async)"></app-nav>
        </div>
    </nav>
    <main class="c-main">
        <div class="c-main-body">
            <router-outlet></router-outlet>
        </div>
    </main>
</div>