.c-container {
    position: relative;
    box-sizing: border-box;
    // height: auto;
    & > .c-header {
        position: sticky;
        width:100%;
        background-image: linear-gradient(#f0f1f3, #eff0f2);

        & > .c-header-content {
            min-height: 2.75em;
            // border:1px solid green;
        }
    }
    & > .c-nav {
        background-color: #334050;
        // background-image: linear-gradient(#d16413, #8d2908);
        // border-bottom: 1px solid #e08e40;
        border-top: 1px solid #d5d5d5;
    }
    & > .c-main {
        & > .c-body {
            // border: 1px solid gold;
            
        }
    }
    
}
.c-container.fixed-width .c-header-body, 
.c-container.fixed-width .c-nav-body, .c-container.fixed-width .c-main-body {
    width:72em;
    margin: 0 auto;
}
.collapse-menu-box {
    display: flex;
    & > .collapse-menu-aside {
        flex: 0 0 200px;
        border:1px solid red;
    }
    & > .collapse-menu-main {
        flex: 1 1 auto;
        border: 1px solid green;
    }
}