.c-container {
    position: relative;
    box-sizing: border-box;
    // height: auto;
    & > .c-header {
        position: sticky;
        width:100%;
        border-bottom:1px solid #d4d4d4;
        background-color: #f4f3ef;
        // background-image: linear-gradient(#f0f1f3, #eff0f2);
        & > .c-header-content {
            min-height: 2.75em;
            // border:1px solid green;
        }
    }
    & > .c-nav {
        // background-color: #ebebeb;
        background-image: linear-gradient(#f4f3ef, #ecebe7);
        border-top: 1px solid #fff;
        // border-bottom:1px solid #cdccca;

    }
    & > .c-main {
        & > .c-body {
            // border: 1px solid gold;
            
        }
    }
    
}
.c-container.fixed-width .c-header-body, 
.c-container.fixed-width .c-nav-body, .c-container.fixed-width .c-main-body {
    width:48em;
    margin: 0 auto;
}
.collapse-menu-box {
    display: flex;
    & > .collapse-menu-aside {
        flex: 0 0 200px;
        border:1px solid red;
    }
    & > .collapse-menu-main {
        flex: 1 1 auto;
        border: 1px solid green;
    }
}