<div class="c-container fixed-width">
    <header class="c-header">
        <div class="c-header-body">
            <app-header [logo]="logo" (onSwitchEvent)="onSwitchEvent($event)" [hasHeaderSearch]="hasHeaderSearch" [headerToolbar]="headerToolbar" [headerDropdowns]="headerDropdowns" (onEventMenu)="onEventMenu($event)" (onEventLink)="onEventLink($event)"></app-header>
        </div>
    </header>
    <nav class="c-nav">
        <div class="c-nav-body">
            <app-menu *ngIf="(menus$ | async)?.length" [menus]="(menus$ | async)"></app-menu>
        </div>
    </nav>
    <main class="c-main">
        <div class="c-main-body">
            <router-outlet></router-outlet>
            <!-- <div class="collapse-menu-box">
                <div class="collapse-menu-aside">
                    <router-outlet name="aside"></router-outlet>
                </div>
                <div class="collapse-menu-main">
                    <router-outlet name="whole"></router-outlet>
                </div>
            </div> -->
        </div>
            
            <!-- <div>
            <p>1111.c-container.fixed-width .c-header-content.c-container.fixed-width .c-header-content</p>
            <p>22222.c-container.fixed-width .c-header-content.c-container.fixed-width .c-header-content</p>
            <p>333333.c-container.fixed-width .c-header-content.c-container.fixed-width .c-header-content</p>
            <p>44444.c-container.fixed-width .c-header-content.c-container.fixed-width .c-header-content</p>
            <p>.c-container.fixed-width .c-header-content.c-container.fixed-width .c-header-content</p>
            <p>.c-container.fixed-width .c-header-content.c-container.fixed-width .c-header-content</p>
            <p>.c-container.fixed-width .c-header-content.c-container.fixed-width .c-header-content</p>
            <p>.c-container.fixed-width .c-header-content.c-container.fixed-width .c-header-content</p>
            <p>.c-container.fixed-width .c-header-content.c-container.fixed-width .c-header-content</p>
            <p>.c-container.fixed-width .c-header-content.c-container.fixed-width .c-header-content</p>
            <p>.c-container.fixed-width .c-header-content.c-container.fixed-width .c-header-content</p>
            <p>.c-container.fixed-width .c-header-content.c-container.fixed-width .c-header-content</p>
            <p>.c-container.fixed-width .c-header-content.c-container.fixed-width .c-header-content</p>
            <p>.c-container.fixed-width .c-header-content.c-container.fixed-width .c-header-content</p>
            <p>.c-container.fixed-width .c-header-content.c-container.fixed-width .c-header-content</p>
            
            <p>.c-container.fixed-width .c-header-content.c-container.fixed-width .c-header-content</p>
            <p>.c-container.fixed-width .c-header-content.c-container.fixed-width .c-header-content</p>
            <p>.c-container.fixed-width .c-header-content.c-container.fixed-width .c-header-content</p>
            <p>.c-container.fixed-width .c-header-content.c-container.fixed-width .c-header-content</p>
            <p>.c-container.fixed-width .c-header-content.c-container.fixed-width .c-header-content</p>
            <p>.c-container.fixed-width .c-header-content.c-container.fixed-width .c-header-content</p>
            <p>.c-container.fixed-width .c-header-content.c-container.fixed-width .c-header-content</p>
            <p>.c-container.fixed-width .c-header-content.c-container.fixed-width .c-header-content</p>
            <p>.c-container.fixed-width .c-header-content.c-container.fixed-width .c-header-content</p>
            <p>.c-container.fixed-width .c-header-content.c-container.fixed-width .c-header-content</p>
            <p>.c-container.fixed-width .c-header-content.c-container.fixed-width .c-header-content</p>
            <p>.c-container.fixed-width .c-header-content.c-container.fixed-width .c-header-content</p>
            <p>.c-container.fixed-width .c-header-content.c-container.fixed-width .c-header-content</p>
            <p>.c-container.fixed-width .c-header-content.c-container.fixed-width .c-header-content</p>
            <p>.c-container.fixed-width .c-header-content.c-container.fixed-width .c-header-content</p>
            <p>.c-container.fixed-width .c-header-content.c-container.fixed-width .c-header-content</p>
            <p>.c-container.fixed-width .c-header-content.c-container.fixed-width .c-header-content</p>
            <p>.c-container.fixed-width .c-header-content.c-container.fixed-width .c-header-content</p>
            <p>.c-container.fixed-width .c-header-content.c-container.fixed-width .c-header-content</p>
            <p>.c-container.fixed-width .c-header-content.c-container.fixed-width .c-header-content</p>
            <p>.c-container.fixed-width .c-header-content.c-container.fixed-width .c-header-content</p>
            <p>.c-container.fixed-width .c-header-content.c-container.fixed-width .c-header-content</p>
            <p>.c-container.fixed-width .c-header-content.c-container.fixed-width .c-header-content</p>
            <p>.c-container.fixed-width .c-header-content.c-container.fixed-width .c-header-content</p>
            <p>.c-container.fixed-width .c-header-content.c-container.fixed-width .c-header-content</p>
            <p>.c-container.fixed-width .c-header-content.c-container.fixed-width .c-header-content</p>

            dfghjkl的功夫好看
            <p>.c-container.fixed-width .c-header-content.c-container.fixed-width .c-header-content</p>
            </div> -->
        </main>
</div>