.my-table {
  border:1px solid #c0c0c0;
  width:100%;
  margin-bottom: 1em;
  & > thead > tr > th {
    font-weight: bold;
    text-align: left;
    padding:0.5em;
  }
  & > tbody > tr > td,& > tfoot > tr > td  {
    padding:0.5em;
    border-top:1px solid #d4d4d4;
  }
  & > tbody > tr > td:last-child {
    text-align: right;
  }
  & > tfoot > tr > td {
    background-color: bisque;
  }
}