<div class="cart-detail">
  <h3>Your Cart Detail</h3>
  <table class="my-table">
    <thead>
      <tr>
        <th>Quantity</th>
        <th>Product</th>
        <th>Price</th>
        <th>Subtotal</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="cart.lines.length == 0">
        <td colspan="4">Your cart is empty</td>
      </tr>
      <tr *ngFor="let line of cart.lines">
        <td>
          <input type="number" [value]="line.quantity" (change)="cart.updateQuantity(line.product, line.quantity)" />
        </td>
        <td>{{line.product.title}}</td>
        <td>{{line.product.price | currency:"USD":"symbol":"2.2-2"}}</td>
        <td>{{line.total | currency:"USD":"symbol":"2.2-2"}}</td>
        <td>
          <button (click)="cart.removeLine(line.product.id)">Remove</button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3">Total:</td>
        <td>{{cart.cartPrice | currency:"USD":"symbol":"2.2-2"}} </td>
      </tr>
    </tfoot>
  </table>
</div>
<div>
  <div class="continue-shop">
    <button routerLink="/landing/sports">Continue Shopping</button>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button routerLink="../checkout" [disabled]="cart.lines.length == 0">Checkout</button>
  </div>
</div>