.page-header {
  display: flex;
  align-items: center;
  padding: 1em 0;
  color:#767676;
  & > h3 {
    flex: 1;
    margin-bottom: 0;
    font-weight: bold;
  }
  & > div {
    flex: 2;
    text-align: right;
    align-self: center;
  }
}