
<!-- <div class="register-page">
    <form class="form-group" [formGroup]="form" (ngSubmit)="onSubmit(form, $event)">
      <div class="form-item">
        <label>Loginname</label>
        <div class="form-control">
          <input placeholder="you login name" type="text" formControlName="loginname">
        </div>
      </div>
      <div class="form-item">
        <label>Mobile</label>
        <div class="form-control">
          <input placeholder="you mobile number" type="text" formControlName="mobile">
        </div>
      </div>
      <div class="form-item">
        <label>E-mail</label>
        <div class="form-control">
          <input placeholder="you e-email" type="text" formControlName="email">
        </div>
      </div>
      <div class="form-item">
        <label>Name</label>
        <div class="form-control">
          <input placeholder="you number" type="text" formControlName="name">
        </div>
      </div>
      <div formGroupName="passwords">
        <div class="form-item" >
          <label>Password</label>
          <div class="form-control">
            <input placeholder="you password" type="password" formControlName="password">
          </div>
        </div>
        <div class="form-item">
          <label>Repeat password</label>
          <div class="form-control">
            <input placeholder="you password again" type="password" formControlName="repeat">
          </div>
        </div>
      </div>
      <div class="form-item">
        <label>Select Avatar</label>
        <div class="form-control">
          <image-picker [cols]="6" [items]="avatars" formControlName="avatar"></image-picker>
        </div>
      </div>
      <div class="form-buttons">
        <button type="submit">{{"USER.BUTTON.SIGNUP" | translate}}</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="reset" >{{"USER.BUTTON.RESET" | translate}}</button>
      </div>
    </form>
 </div> -->
 <form class="form-register" [formGroup]="form" (ngSubmit)="onSubmit(form, $event)">
    <h2 class="heading">{{"USER.TITLE.SIGNUP" | translate}}</h2>
    <h3 class="heading">{{"USER.SUBTITLE.SIGNUP" | translate}}  </h3>
  <div class="register-control">
    <label>
      <img src="../../../../assets//icons//user-gray.svg" width="32" height="32"/>
    </label>
    <input placeholder="User Name" type="text" formControlName="loginname">
  </div>
  <div class="register-control">
    <label>
      <img src="../../../../assets//icons/email.png" class="inputIcon" />
    </label>
    <input placeholder="E-mail" type="text" formControlName="email">
  </div>
  <div class="register-control">
    <label>
      <img src="../../../../assets//icons/smart-phone.png" class="inputIcon" />
    </label>
    <input placeholder="Phone Number" type="text" formControlName="name">
  </div>
  <!-- <ng-container #myPassword="ngModelGroup" ngModelGroup="password"> -->
    <!-- ngModelGroup一定要是ngForm的子类 myPassword 是这个子类的引用可以直接获取 -->
    <div class="register-control">
      <label>
        <img src="../../../../assets//icons//unlock-f.svg" class="inputIcon" />
      </label>
      <input placeholder="Password" autocomplete="off" type="password" formControlName="password">
    </div>
    <div class="register-control">
      <label>
        <img src="../../../../assets//icons//checked-f.svg" class="inputIcon" />
      </label>
      <input autocomplete="off" placeholder="Confirm password" type="password" formControlName="repeat">
    </div>
  <!-- </ng-container> -->
  <div class="register-control">
    <label>
      <img src="../../../../assets//icons/happy.png" class="inputIcon" />
    </label>
    <div>
    <image-picker [cols]="6" [items]="avatars" formControlName="avatar"></image-picker>
    </div>
  </div>
  <div style="text-align: center;padding: 1em;">
    <button type="submit" class="btn">{{"USER.BUTTON.SIGNUP" | translate}}</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button type="reset" class="btn">{{"USER.BUTTON.RESET" | translate}}</button>
  </div>
  <div class="link-rigster">
    <a routerLink="/auth/login" replaceUrl="true">{{"USER.ADD_LINK.REGISTERED_GO_LOGIN"  | translate}}</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <!-- <a routerLink="/auth/forgetpw" style="float: right;">{{"USER.ADD_LINK.FORGOT_PW" | translate}}</a> -->
  </div>
  
</form>