<div>
  <header class="user-info-header" >
    <h2>{{"USER.TITLE.CHANGE_PW" | translate}}</h2>
    <h3>{{"USER.SUBTITLE.CHANGE_PW" | translate}}</h3>
  </header>
  <main>
      <app-process-step></app-process-step>
      <forgot-password-form [codeValidator]="codeValidator" (codeRequestEvent)="processCodeRequest($event)"
        (mobileInputEvent)="processMobile($event)" (passwordEvent)="processPassword($event)" [mobile]="mobile">
      </forgot-password-form>
  </main>
  <footer class="user-info-footer">
    <a mat-button routerLink="/auth/login">{{"USER.BUTTON.SIGNIN" | translate}}</a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a mat-button routerLink="/auth/register">{{"USER.BUTTON.SIGNUP" | translate}}</a>
  </footer>
</div>