<div class="image-picker-box">
  <figure class="for-">
    <img class="cover selected" [src]="selected">
    <span *ngIf="!selected" class="placeholder-text">Select Atater</span>
    <span class="switch-btn" [class.toggle]="show" (click)="toggle()"></span>
  </figure>
  <div class="scroll-container" *ngIf="show">
    <div *ngFor="let item of items; let i = index;" (click)="selectImage(i)" [ngStyle]="{'width': perGridWidth}"
      class="image-container">
      <img [src]="item" [ngStyle]="{'width': itemWidth}">
      <div class="zoom">
        <img src="./assets/images/icons/check-circle.svg" />
      </div>
    </div>
  </div>
</div>