.image-picker-box > figure {
      border: 1px solid #d5d5d5;
      min-height: 32px;
      display: flex;
      text-align: center;
      border-radius: 2px;
      padding-left:2em;
      & > .selected {
        max-width: 32px;
      }
    }
.scroll-container {
  // border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
  & > .image-container {
    display: inline-block;
    position: relative;
    min-width:2em;
    min-height:2em;
    text-align: center;
    box-sizing: border-box;
    margin: 0.5em 0;
    & > img {
      min-height: 2em;
      min-width: 2em;
    }
    & .zoom {
    background-color: #000;
    width:100%;
    height: 100%;
    display: none;
    position: absolute;
    top:0;
    left:0;
    & > img {
      transform: translateY(50%);
    }
  }
  }
  
  & > .image-container:hover .zoom {
    display: block;
    background-color: rgba(0,0,0,0.5);
  }
}