<div class="form-group-wrapper">
  <form class="form-group" [formGroup]="mobileForm" (ngSubmit)="submit(mobileForm, $event)">
    <div class="form-item">
      <label>
        短信验证码
      </label>
      <div class="form-control">
        <verify-mobile formControlName="oldCode" [mobile]="mobile" [countdown]="60" (requestCode)="makeRequest($event)"
      (mobileInputEvent)="mobileInput($event)"></verify-mobile>
      </div>
    </div>
    <div class="form-buttons">
      <button >下一步</button>
    </div>
  </form>
</div>
  <form class="form-group" [formGroup]="newPasswordForm" (ngSubmit)="submit(newPasswordForm, $event)">
    <div class="form-item">
      <label>新密码</label>
      <div class="form-control">
        <input matInput placeholder="请输入新密码" type="password" formControlName="password">
      </div>
    </div>
    <div class="form-item">
      <label>确认新密码</label>
      <div class="form-control">
        <input matInput placeholder="请再次输入新密码" type="password" formControlName="repeat">
        <span class="form-control-tips">两次密码输入不一致</span>
      </div>
    </div>
    <div class="form-buttons">
      <button mat-button matStepperNext>下一步</button>
    </div>
  </form>
<div>
  <ng-template matStepLabel>完成</ng-template> 
  密码设置成功
  <div><button mat-button matStepperPrevious>返回</button></div>
</div>