
.page-header {
  display: flex;
  align-items: center;
  padding: 1em 0;
  color:#767676;
  & > h3 {
    flex: 1;
    margin-bottom: 0;
    font-weight: bold;
  }
  & > div {
    flex: 2;
    text-align: right;
    align-self: center;
  }
}
.equal-altitude {
  display: flex;
  & > .columns_1 {
    width:20%
  }
  & > .columns_2 {
  width:80%;margin-left:1.5em; word-break: break-all;
  }
}
button.category-btn {
  border:none;
  background-color: transparent;
  display: block;
  width:100%;
  text-align: left;
  padding:1em 2em;
  border-top:1px solid #74797f;
  border-bottom:1px solid #3e4248;
  background-color: #5d6166;
  color: #d1d3d4;
  font-size: 1.1rem;
}
button.category-btn:first-child {
  border-radius:7px 7px  0 0 ;
}
button.category-btn:last-child {
  border-radius: 0 0 7px 7px;
}

button.category-btn.active {    
  // background-color: #3b3e44;
  border-top:1px solid #e08e40;
  border-bottom:1px solid #9a2f09;
  background-image: linear-gradient(#d16413,#8d2908);
  color: #fff;
}
//////////////////////////////////table////////////
.my-table {
  border:1px solid #c0c0c0;
  width:100%;
  margin-bottom: 1em;
  & > thead > tr > th {
    font-weight: bold;
    text-align: left;
    padding:0.5em;
  }
  & > tbody > tr > td {
    padding:0.5em;
    border-top:1px solid #d4d4d4;
  }
  & > tbody > tr > td:last-child {
    text-align: right;
  }
}

.bg-info {
  background-color: #e08e40;
}

.button-gray {
  outline: none;
  cursor: pointer;
  padding:0.5em 1em;
  background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
  border-radius: 1.2em;
  border: 1px solid #8F9092;
  transition: all 0.2s ease;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em;
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px #fff;
}
.button-gray:hover {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
}

.button-gray:active {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

.button-gray:focus {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}