<div class="table-wrapper">
  <div class="table-toolbar">
    <div style="display: inline-flex;">
      <div class="table-search">
        <input name="searchBox" class="table-search-box" autocomplete="off" [(ngModel)]="searchString" placeholder="Search Here" (keyup)="search()" />
        <a>
          <img src="./assets/images/icons/x-circle.svg" *ngIf="searchString.length > 3" (click)="searchRemove()" />
          <img src="./assets/images/icons/search.svg" class="search-icon" [class.move-away]="searchString.length > 3"/>
        </a>
      </div>
      <button routerLink="../products/create" class="table-button">
        <img src="../../assets/images/icons/plus.svg" width="18" height="18" /> Create New Product
      </button>
  </div>

  </div>
  <!-- 、、、、、、、、、、、、、、、、、、、 -->
  <!-- 、、、、、、、、、、、、、、、、、、、 -->
  <!-- 、、、、、、、、、、、、、、、、、、、 -->
  <!-- 、、、、、、、、、、、、、、、、、、、 -->
  <!-- 、、、、、、、、、、、、、、、、、、、 -->
  <!-- 、、、、、、、、、、、、、、、、、、、 -->
  <!-- 、、、、、、、、、、、、、、、、、、、 -->
  <!-- 、、、、、、、、、、、、、、、、、、、 -->

  <table class="my-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
        <th>Store</th>
        <th>Opteration</th>
      </tr>
    </thead>
    <tbody>
      <!-- [pa-product]="product" (pa-category)="newProductcCtegory = $event" -->
      <tr *ngFor="let product of products$ | async as products; index as i" >
        <td>{{product.title}}</td>
        <td>{{product.category}}</td>
        <td>{{product.price | currency:"USD":"symbol":"2.2-2"}}</td>
        <td>{{product.stock}}</td>
        <td>
          <button [routerLink]="['../products/view', product.id]">View</button>
          &nbsp;&nbsp;
          <button [routerLink]="['../products/edit', product.id]">Edit</button>
          &nbsp;&nbsp;
          <button (click)="delete(product.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>