<div class="table-wrapper">
  <div class="table-toolbar">
    <!-- 指令自定义事件发送数据：newProductcCtegory :{{newProductcCtegory}} -->
    <button routerLink="../products/create" class="table-button">
      <img src="../../assets/images/icons/plus.svg" width="18" height="18" /> Create New Product
    </button>
  </div>
  <!-- <ag-grid-angular
    #agGrid
    style="width: 100%; height: 550px"
    class="ag-theme-alpine"
    [columnDefs]="columnDefs"
    [rowData]="getProducts()"
    (cellClicked)="onCellClicked($event)"
    (gridReady)="onGridReady($event)"
    [pagination]="true"
    [animateRows]="true"
  ></ag-grid-angular> -->
  <table class="table-self">
    <thead>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of getProducts()" [pa-product]="p" (pa-category)="newProductcCtegory = $event"
        [add-class]="getProducts().length < 6 ? 'bg-info' : 'bg-warning'">
        <td>{{p.title}}</td>
        <td>{{p.category}}</td>
        <td>{{p.price | currency:"USD":"symbol":"2.2-2"}}</td>
        <td>
          <button [routerLink]="['../products/view', p.id]">View</button>
          &nbsp;&nbsp;
          <button [routerLink]="['../products/edit', p.id]">Edit</button>
          &nbsp;&nbsp;
          <button (click)="deleteProduct(p.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>