.menu-text.active {
    color:#58301b;
    font-weight: bold;
    // background-image: linear-gradient(#8d2288, #d16431);
    // background-color: #fff;
}
.menu-text:hover:not(.active) {
    // color:#000;
    // font-weight: bold;
    // background-image: linear-gradient(#8d2908, #d16413);
}
.menu-text {
    padding: 0.5em 0em;
    // background-image: linear-gradient(#8d2908, #d16413);
    display: inline-block;
    text-align: center;
    font-size: 1.25rem;
    color: #bf9c76; 
    font-weight: normal;
    // color: #3f343c; 
    // color: #697277  ;
}