<div class="login-page" [ngStyle]="{backgroundImage: 'url(' + photo + ')', backgroundSize:'cover'}">
    <!-- <div class="quote">
      <app-quote [quote]="(quote$ | async)"></app-quote>
    </div> -->
    
    <div class="user-info-card">
      
      <!-- <header class="user-info-header">
        <h2>{{"USER.TITLE.SIGNIN" | translate}}</h2>
        <h3>{{"USER.SUBTITLE.SIGNIN" | translate}}</h3>
      </header> -->
      <main>
        <app-login-form (onLogin)="processLogin($event)" 
        (refreshCaptcha)="refreshCaptcha()" (codeInput)="verifyCaptcha($event)" 
        [captchaUrl]="(captcha$ | async)?.captcha_url"
        > </app-login-form>
      </main>
      <!-- <footer class="user-info-footer">
        <a routerLink="/auth/register">{{"USER.ADD_LINK.NOT_SIGNUP"  | translate}}</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="/auth/forgetpw">{{"USER.ADD_LINK.FORGOT_PW" | translate}}</a>
      </footer> -->
    </div>
</div>

  