.menu-text.active {
    color:#333;
    // background-image: linear-gradient(#8d2288, #d16431);
    background-color: #fff;
}
.menu-text:hover:not(.active) {
    background-image: linear-gradient(#8d2908, #d16413);
}
.menu-text {
    padding: 1em;
    // background-image: linear-gradient(#8d2908, #d16413);
    display: block;
    text-align: center;
    font-size: 1.25rem;
    color: #8f9ba7; 
    color: #3f343c; 
    color: #697277  ;
}