input {
    border:none
}
:host {
    display: inline-flex;
    border: 1px solid blueviolet;
    border-radius: 0.25em;
    height: 2em;
  }
  // :host : meaning that the styles will be applied only inside this component
  // ::ng-deep : means that the style will no longer be scoped only to HTML elements of this particular component, but it will also affect any descendant elements
  :host ::ng-deep input {
    border: none;
    outline: none;
  }
  
  :host.focus {
    border: 1px solid red;
  }