<div>
    <input name="searchBox" [(ngModel)]="searchString" placeholder="Search Here" (keyup)="search()" />
</div>
<h2>We have found {{(stocks$ | async)?.length}} stocks !</h2>
<ul>
    <li *ngFor="let stock of stocks$ | async as stocks; index as i">
        <app-stock-item  [stock]="stock"></app-stock-item>
    </li>
</ul>

<div class="counter-container">
    <label>Counter</label>
    <div class="numberCircle">{{click$ | async}}</div>
    <div>
        <button class="counter" #decrement>-1</button>
        <button class="counter" #increment>+1</button>
    </div>
</div>
