<!-- <div>
    <input name="searchBox" [(ngModel)]="searchString" placeholder="Search Here" (keyup)="search()" />
</div>
<h2>We have found {{(stocks$ | async)?.length}} stocks !</h2>
<ul>
    <li *ngFor="let stock of stocks$ | async as stocks; index as i">
        <app-stock-item  [stock]="stock"></app-stock-item>
    </li>
</ul> -->

<div class="counter-container">
    <label>Counter</label>
    <div class="numberCircle">{{click$ | async}}</div>
    <div>
        <button class="counter" #decrement>-1</button>
        <button class="counter" #increment>+1</button>
    </div>
</div>
<!-- 十大富豪归还借款 -->

<!-- <button (click)="clearSelection()">Clear Selection</button> -->
<!-- AG Grid Angular Component -->
<div style="width: 900px;">
    <select [(ngModel)]="selectedCurrency" (ngModelChange)="onChange($event)">
        <option
            *ngFor="let currency of currencies$ | async"
            [ngValue]="currency.code">
            {{currency.code}}
        </option>
    </select>
<ag-grid-angular
    #agGrid
    style="width: 100%; height: 500px"
    class="ag-theme-alpine"
    [columnDefs]="columnDefs$ | async"
    [rowData]="rowData$ | async"
    [animateRows]="true"
    (gridReady)="onGridReady($event)"
    (cellClicked)="onCellClicked($event)"
  ></ag-grid-angular>
</div>
