.landing-header-wrapper{
    display: flex;
    padding: 0em 0em;
    align-items: center;
    height: 100%;
    min-height: 2.75em;
    box-sizing: border-box;
    // background-image: linear-gradient(#f0f1f3, #eff0f2);
    & > .landing-header-left {
      flex: 0 0 15em;
    }
    & > .landing-header-right {
      flex: 1 1 auto;
      text-align: right;
      position: relative;
      & > .header-search-box {
        width:50%;
        position: absolute;
        left:0;
        top:50%;
        margin-top:-16px;
      }
    }
  
   h1 > .logo {
    color: #505961;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 0.2em 0;
    & > img {
      display: block;
      max-width: 100%;
      max-height: 2.75em;
    }
  }
  
  .slogan {
    color: #888;
    font-size: 0.875em;
    margin: 0;
  }
  .header-icons {
    position: relative;
    display: inline-flex;
    flex: 1 1 auto;
    align-items: center;
    border: 0;
    /* padding: 0 3em; */
  }
  
  .header-icons > li + li {
    margin-left: 2em;
    position: relative;
  }
  
  /* 菜单项靠右边 */
  .header-icons > .nav-right {
    margin-left: auto;
  }
  
  .header-icons > li > a {
    display: block;
    text-align: center;
    font-size:1em;
    color:#313d39;
    cursor: pointer;
    position: relative;
    
  }
  .header-icons .nav-links_icon {
    // width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    margin-right: 0.25em;
  }
  .header-icons > li > a:hover {
    color: hsl(40, 40%, 40%);
  }
  
  .nav-links_icon.scale {
    transform: scale(2);
    border-radius: 1em;
    margin-right: 1em!important;
  }
  
  .header-icons > li > a span.link-text {
    display: none;
  }
  @media (min-width: 50em) {
    .header-icons > li > a span.link-text {
      display: inline-block;
    }
  }
  }
  dl.dropdown-box.toggle {
    display: block;

  }
  dl.dropdown-box {
    position: absolute;
    width:max-content;
    z-index: 3;
    display: none;
    top:3em;
    left:0;
    transition: all 0.25s linear;
    border:1px solid #c1c1c3;
    background-color: #ebebeb;
    border-radius: 6px;
    & > dt {
      position: relative;
      & > .mini-close {
        position: absolute;
        scale: (0.7);
        right:-0.8em;
        top:-0.8em;
      }
    }
    & > dd {
      display: flex;
      align-items: center;
      // border-top:1px solid #fafafa;
      // border-bottom:1px solid #d4d4d4;
      // background-image: linear-gradient(#e4e3e8, #ededef);

      border-top: 1px solid #74797f;
      border-bottom: 1px solid #3e4248;
      background-color: #5d6166;
      color:#d1d3d4;
      padding:0.5em 1em;
      font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      text-align: left;
      cursor: pointer;
      & > img {
        // width:1em;
        height:1.25em;
        padding-right:0.5em;
      }
      & > span {
        color: inherit;
        font-size: 0.88rem;
      }
    }
    & > dd:last-child {
      border-bottom: 1px solid transparent;
    }
    & > dd:hover {
      background-image: linear-gradient(#ededef, #e4e3e8);
      color: #333;
    }
    & > dd.active {
      background-color: #fff;
    }
  }
  .triangle {
    width:0px;
    height:0px;
    border:10px solid #c1c1c3;
    border-top-color:transparent;
    border-bottom-color:#c1c1c3;
    border-left-color:transparent;
    border-right-color:transparent;
  }
.triangle.location {
  position: absolute;
  left:50%;
  top:-20px;
  margin-left:-10px;
}
.triangle.inner.location {
  border-bottom-color:#5d6166;
  z-index: 2;
  top:-19px;
}
  ///////////////////////////////////////////////----////    