<div class="landing-header-wrapper">
    <div class="landing-header-left">
      <h1>
        <span class="logo">
           <strong *ngIf = "!logo.img">{{logo.text || 'LOGO'}}</strong>
           <img *ngIf = "logo.img" [src]="'./assets/images/logo/' + logo.img"/>
        </span>
      </h1>
      <span class="slogan"></span>
    </div>
    <div class="landing-header-right">
      <ul class="header-icons">
        <li *ngFor="let tool of toolbars; let last = last;" [style]="{'margin-left': last ? '5em' : '2em'}">
          <a (click)="tapevent(tool, $event)" *ngIf="!isLogin || (isLogin && !last)">
            <img [src]="'./assets/icons/'+tool.button.icon" [title]='"SECTION.NAV." + tool.button.name | translate' *ngIf="tool.button.icon" class="nav-links_icon" />
            <span class="link-text" *ngIf="tool.button.name">{{ "SECTION.NAV." + tool.button.name | translate}}</span>
          </a>
          <a (click)="tapevent(tool, $event)" *ngIf="isLogin && last">
            <img [src]="'./assets/icons/'+tool.button.avatar" class="nav-links_icon" />
            <span class="link-text" *ngIf="tool.button.name">{{ tool.button.name }}</span>
          </a>
        </li>
        <dl class="dropdown-box" [class.toggle]="toggle" *ngIf="dropdowns.length" [style]="{'left': posY + 'px'}">
            <dt>
                <div class="triangle location"></div>
                <div class="triangle location inner"></div>
              <!-- <img src="./assets/icons/x-circle.svg" class="mini-close" /> -->
            </dt>
            <dd *ngFor="let link of dropdowns" (click)="goLink(link)" [class.active]="link.active">
              <img [src]="'./assets/icons/' + link.icon" />
              <span>{{ "SECTION.NAV." + link.name | translate}}</span>
            </dd>
          </dl>
      </ul>
    
    </div>
  </div>