<div class="landing-header-wrapper">
    <div class="landing-header-left">
      <h1>
        <span class="logo">logo</span>
      </h1>
      <span class="slogan"></span>
    </div>
    <div class="landing-header-right">
      <ul class="header-icons">
        <li>
          <a>
            <img src="./assets/icons/chat.svg" class="nav-links_icon" />
          </a>
        </li>
        <li>
          <a>
            <img src="./assets/icons/bell.svg" class="nav-links_icon" />
          </a>
        </li>
        <li>
          <a>
            <img src="./assets/icons/locale-5-image.svg" class="nav-links_icon" />
            <!-- <span class="link-text">
              <label>
                <select #langSelect (change)="translate.use(langSelect.value); trackLang(langSelect.value)">
                  <option *ngFor="let lang of translate.getLangs()" [value]="lang"
                    [selected]="lang === translate.currentLang">{{ lang | i18nSelect:selectMap
                    }}</option>
                </select>
              </label>
            </span> -->
          </a>
        </li>
        <li class="" style="margin-left:5em">
          <a>
            <img src="./assets/icons/user.svg"  class="nav-links_icon" />
            <!-- <img   class="nav-links_icon scale" /> -->
            <span class="link-text" >Login</span>
            <span class="link-text" ></span>
            <dl class="dropdown-box">
              <dt>
                <img src="./assets/icons/clear.svg" class="mini-close" />
              </dt>
              <dd>
                <img src="./assets/icons/profile.svg" />
                <span>Profile</span>
              </dd>
              <dd>
                <img src="./assets/icons/settings.svg" />
                <span>Setting</span>
              </dd>
              <dd>
                <img src="./assets/icons/sign-out.svg" />
                <span>Logout</span>
              </dd>
  
            </dl>
          </a>
        </li>
      </ul>
    </div>
  </div>